# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific project settings
LocalJournal.xcodeproj/xcuserdata/
LocalJournal.xcodeproj/project.xcworkspace/xcuserdata/
LocalJournal.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.swp
